---
---

@import "{{ site.theme }}";

#forkme_banner {
    display: none;
}

.searchform {
    padding: 20px 0 0 0;
    background: none;
}

.searchform input {
    width: 30%;
    height: 25px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
}

.searchform button {
    height: 35px;
    padding: 6px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

$bgcolor: #070719;

#header_wrap {
    background: linear-gradient(to top, $bgcolor, #0a062a);
}

#header_wrap .inner {
    padding: 20px 10px 20px 10px;
}

#footer_wrap {
    background: $bgcolor;
}

html {
    background: $bgcolor;
}

#main_content a {
    color: blue;
}

.fa-stack-overflow.fa-3x {
    position: relative;
    top: -.2em;
    padding: .15em;
    font-size: 2em;
    color: #000000;
    background-color: #0F79D0;
    border-radius: 0.2em;
    width: 1em;
    text-align: center;
}

.share-box {
    margin-top: 60px
}

.share-box a {
    display: inline-block;
    -webkit-box-shadow: 0 0 1px #777;
    box-shadow: 0 0 1px #777;
    padding: 5px 12px;
    margin-right: 5px;
    margin-bottom: 5px;
    text-decoration: none;
}
.share-box a:hover {
    text-decoration: none;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.facebook {
    color: #3b5998 !important;;
}
.facebook:hover {
    color: #fff !important;;
    background-color: #3b5998 !important;;
}

.twitter {
    color: #4099FF !important;
}
.twitter:hover {
    color: #fff !important;
    background-color: #4099FF !important;;
}

.reddit {
    color: #ff5700 !important;;
}
.reddit:hover {
    color: #fff !important;;
    background-color: #ff5700 !important;;
}

.linkedin {
    color: #0077b5 !important;;
}
.linkedin:hover {
    color: #fff !important;;
    background-color: #0077b5 !important;;
}

.email {
    color: #444444 !important;;
}
.email:hover {
    color: #fff !important;;
    background-color: #444444 !important;;
}

.main-nav {
    text-align: left;
    margin-bottom: 10px;
}

.main-nav a {
    color: #F2F2F2;
    font-size: 39px;
    text-decoration: underline;
    margin-inline-end: 2px;
    font-weight: bold;
}

.main-nav a.active {
    color: #0F79D0;
}

.posts-list li {
    margin-top: 10px;
    font-size: 30px;
}

.back-to-articles-btn {
    flex: 1 1 auto;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    box-shadow: 0 0 10px #0F79D0;
    border-radius: 10px;
    background-image: linear-gradient(to right, $bgcolor, #0c69d7);
    margin: 0 25px 25px 0;
}
