---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <link rel="preconnect dns-prefetch" href="https://www.google-analytics.com" crossorigin>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-164758011-1"></script>
    <script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-164758011-1');
    </script>

    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <meta name="google-site-verification" content="YfXblR9pR2-GPd2FaeaIMnSz319VrqhvdqCfzNCON7E" />
<!--    <meta property="og:image" content="http://localhost:4000/assets/images/ilarion-halushka-logo.png" />-->
    <meta property="og:image" content="{{ site.image | default: '/assets/images/ilarion-halushka-logo.png' }}" />

    {% seo %}

    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <script src="/lazysizes.min.js" async=""></script>
</head>

<body>

<!-- HEADER -->
<div id="header_wrap" class="outer">
    <header class="inner">

        {% if site.github.is_project_page %}
        <a id="forkme_banner" href="{{ site.github.repository_url }}">View on GitHub</a>
        {% endif %}

        <h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
        <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>

        {% include social-media-links.html %}

        <form action="https://www.google.com/search" class="searchform" method="get" name="searchform" target="_blank">
            <input name="sitesearch" type="hidden" value="ilarionhalushka.github.io">
            <input autocomplete="off" class="form-control search" name="q" aria-label="search..." required="required"  type="text">
            <button class="button" type="submit">Search</button>
        </form>
    </header>

    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
</div>

<!-- MAIN CONTENT -->
<div id="main_content_wrap" class="outer">
    <section id="main_content" class="inner">
        {{ content }}
    </section>
</div>

<!-- FOOTER  -->
<div id="footer_wrap" class="outer">
    <footer class="inner">
        <p class="copyright">Maintained by <a href="{{ site.url }}/about">Ilarion Halushka</a></p>
    </footer>
</div>

</body>
</html>
