---
layout: default
comments: true
---

<article itemscope="" itemtype="http://schema.org/BlogPosting">
    <meta itemprop="image" content=""/>
    <div itemscope="" itemprop="author" itemtype="http://schema.org/Person">
        <meta itemprop="name" content="Ilarion Halushka"/>
    </div>
    <p>
<!--    <span itemprop="datePublished dateModified" datetime="{{ page.date | date_to_xmlschema }}">-->
<!--      {{ page.date | date: "%B %-d, %Y" }}-->
<!--    </span>-->
    </p>
    <h1 itemprop="name headline mainEntityOfPage">{{ page.title }}</h1>
    {{ content }}
</article>

{% include  share.html %}

<div class="disqus" id="disqus_thread"></div>
<script async>
	var disqus_config = function () {
		this.page.url = document.location.href.split('?')[0].split('#')[0];
		this.page.identifier = this.page.url;
	};
    (function() {
        var d = document, s = d.createElement('script');

        s.src = 'https://https-ilarionhalushka-github-io.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<script id="dsq-count-scr" src="//https-ilarionhalushka-github-io.disqus.com/count.js" async></script>
<script src="{{ base.url | prepend: site.url }}/assets/js/set-custom-meta-tag.js"></script>
<script type="text/javascript">
    console.log('SET NEW META: 2222 MY CUSTOM DESCRIPTION INLINE JS 2222');
    var allMetaElements = document.getElementsByTagName('meta');

    console.table(allMetaElements);

    for (var i = 0; i < allMetaElements.length; i++) {
      if (allMetaElements[i].getAttribute("content") === "Recommendation On Books To Read For Javascript Node.js Developer.") {
        allMetaElements[i].setAttribute('content', "2222 MY CUSTOM DESCRIPTION INLINE JS 2222");
        break;
      }
    }
    console.table(allMetaElements);
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
